
<h1 class="text-5">Lista de precios</h1>
<div class="text-center">
  <div class="table-responsive d-inline-block mx-auto">
    <table class="table table-striped table-auto m-4">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          @for(producto of productos; track $index){
            <tr>
              <td>{{producto.codigo}}</td>
              <td>{{producto.nombre}}</td>
              <td>{{producto.precio}}</td>
            </tr>
          }
        </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
